alembic==1.6.5
amqp==5.1.1
aniso8601==9.0.1
attrs==21.2.0
bcrypt==3.2.0
billiard==3.6.4.0
celery==5.2.7
certifi==2021.5.30
cffi==1.14.5
charset-normalizer==2.0.9
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cryptography==3.4.7
Deprecated==1.2.13
dnspython==2.1.0
elasticsearch==7.15.1
email-validator==1.1.3
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-JWT-Extended==4.4.4
Flask-Migrate==3.0.1
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Flask-WTF==0.15.1
greenlet==1.1.0
gunicorn==20.1.0
idna==3.2
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==3.2.0
kafka-python==2.0.2
kombu==5.2.4
Mako==1.1.4
MarkupSafe==2.1.1
mongoengine==0.23.1
neo4j==4.4.6
neotime==1.7.4
prompt-toolkit==3.0.30
pycparser==2.20
PyJWT==2.4.0
pymongo==3.11.4
pyrsistent==0.18.0
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
pytz==2022.1
redis==3.5.3
requests==2.26.0
sib-api-v3-sdk==7.2.0
six==1.16.0
SQLAlchemy==1.4.20
urllib3==1.26.6
vine==5.0.0
vonage==2.5.5
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.13.3
WTForms==2.3.3
zipp==3.8.1
